// Define variables for your color scheme

// For example:


$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;


// Official colors :
$sublime-gray: #444444;
$sublime-darkgray: #23241E;
$yellow: #ffbc00;
$black: black;
$red: #f12117;
$white: white;
$lightblue: #57afff;
$lightred: #ff4138;
$darkblue: #375CAD;
$lightgray: #e3ecf5;
$blue: #3e6dd4;
$yellow-light: #ffda7b;
$yellow-softlight: #fff1ce;
