// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
h1 {
  font-size: 40px !important;
  padding-bottom: 25px;
  font-weight: 900 !important;
}

h2 {
  font-size: 32px !important;
  padding-bottom:15px;
  font-weight: 500 !important;
}

p {
  font-size: 16px;
  padding-bottom:15px;
}

a {
  color: #59483C !important;
  font-weight: 500 !important;
}

a:hover {
  text-decoration: none !important;
}

.m-h1 {
  margin-top: 60px;
}
