<div class="onboarding-modal margin-hide">
  <div class="container justify-content-center">
    <h1>Avant de commencer à jouer...</h1>
    <p>Tu vas bientôt tester le métier de développeur. Même si c'est un métier technique, n'aie pas peur ! Nous allons te simplifier la tâche.</p>

    <div class="row step">
      <div class="col-12 col-md-6">
        <%= image_tag "sublime_example.png", alt: "alttext" %>
      </div>
      <div class="col-12 col-md-6">
        <p>Tous les jeux sont construits de la même façon. Tu trouveras d'abord un <font color="#E3A84E"><strong>éditeur de texte</font></strong></font> que les développeurs utilisent. Nous l'avons adapté pour qu'il soit simple et amusant.</p>
      </div>
      <div class="col-12 col-md-6">
        <%= image_tag "game_example.png", alt: "alttext" %>
      </div>
      <div class="col-12 col-md-6">
        <p>Tu pourras voir en direct ce qui se passe sur <font color="#7AB748"><strong>le jeu</strong></font>. Trouve les bons paramètres dans <font color="#E3A84E"><strong>l'éditeur</font></strong></font> pour gagner !</p>
      </div>
  </div>
    <div id="button-modal" class="button-red">C'est parti !</div>
    <% cookies[:onboarding] = "ok" %>
</div>
</div>
