<div class="card" style="width: 12rem;">
  <p>test</p>
  <p> <% @recommandations.each do |recommandation| %> </p>
  <%= image_tag recommandation.name %>
  <% end %>
  <img <%=image_tag("casadepapel.jpe")%> >
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
